<div class="c-section">
  <h1 class="c-title c-title--large">Admin Book Show</h1>
  <%= link_to "Back to Books", admin_books_path %>
    <div class="c-input">
      <div class="book-index-container">
        <!-- <h3 class="c-title c-title--small">Title: </h3> -->
        <h2 class="c-title">
          <%= @book.title %>
        </h2>
        <%= image_tag @book.avatar.variant(resize: "75x75") %>
        <h3 class="c-title c-title--small">Author: </h3>
        <p class="c-paragraph c-paragraph--small"> <%= @book.author.name %></p>
        <h3 class="c-title c-title--small">Price: </h3>
        <p class="c-paragraph c-paragraph--small">$<%= @book.price %></p>

        <%= link_to "Edit", edit_admin_book_path %>
        <%= link_to "Delete", admin_books_path, method: :delete%>

      </div>
    </div>
</div>
