<div class="c-section">
  <h1 class="c-title c-title--large">Books</h1>
  <% @books.each do |book| %>
    <div class="c-input">
      <div class="book-index-container">
         <!-- image_tag book.book_cover.variant(resize: "75x75") %> -->
        <%= link_to book.title, book_path(book), class: "c-title" %>
        <h3 class="c-title c-title--small">Author: </h3>
        <p class="c-paragraph c-paragraph--small"> <%= book.author.name %></p>
        <h3 class="c-title c-title--small">Price: </h3>
        <p class="c-paragraph c-paragraph--small">$<%= book.price %></p>
        <% if current_user %>
          <% if current_user.admin? || current_user.author? %>
            <%= link_to "Edit", edit_book_path(book), class: "c-button" %>
            <%= link_to "Delete", book_path(book), method: :delete, class: "c-button c-button--warning"%>
            <% else %>
            <% end %>
          <% else %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
