  <div class="c-section">
    <h1 class="c-title c-title--large">Books I Wrote</h1>
    <% @books.each do |book| %>
      <% if current_user.name == book.author.name %>
      <div class="c-input">
        <div class="book-index-container">
          <%= link_to book.title, admin_book_path(book), class: "c-title" %>
          <%= image_tag book.book_cover.variant(resize: "75x75") if book.book_cover.attached? %>
          <h3 class="c-title c-title--small">Author: </h3>
          <p class="c-paragraph c-paragraph--small"> <%= book.author.name %></p>
          <h3 class="c-title c-title--small">Price: </h3>
          <p class="c-paragraph c-paragraph--small">$<%= book.price %></p>

          <%= link_to "Edit", edit_author_book_path(book), class: "c-button" %>
          <%= link_to "Delete", admin_book_path(book), method: :delete, class: "c-button c-button--warning"%>

        </div>
      </div>
      <% end %>
    <% end %>
  </div>
