<!DOCTYPE html>
<html>
  <head>
    <title>Stay Booked</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <h3>Stay Booked</h3>
    </header>
    <%= yield %>
    <footer>
      <h6>Stay Booked</h6>
    </footer>
  </body>
</html>
