<!DOCTYPE html>
<html>
  <head>
    <title>Stay Booked</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="c-section">
        <ul class="c-navigation">
          <li class="c-navigation__item">
            <%= link_to "Books", root_path, class: "c-navigation__link c-navigation__link--active" %>
          </li>
          <% if current_user %>
            <li class="c-navigation__item c-navigation__item--push-right">
              Logged in as <%= current_user.email %>
            </li>
            <li class="c-navigation__link">
              <%= link_to "Log Out", destroy_user_session_path %>
            </li>
          <% else %>
            <li class="c-navigation__item c-navigation__item--push-right">
              <%= link_to "Log In", new_user_session_path, class: "c-navigation__link" %> or <%= link_to "Sign Up", new_user_registration_path, class: "c-navigation__link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    <div class="c-container-page">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <h6>Stay Booked</h6>
    </footer>
  </body>
</html>
